name: Deploy Monitoring

on:
  push:
    paths:
      - 'monitoring/**'
  workflow_dispatch:

env:
  AWS_REGION:                ${{ secrets.AWS_REGION }}
  AWS_DEFAULT_REGION:        ${{ secrets.AWS_REGION }}
  TF_TOKEN_app_terraform_io: ${{ secrets.TF_API_TOKEN }}
  TF_VAR_project_name:       ${{ secrets.PROJECT_NAME }}
  TF_VAR_aws_region:         ${{ secrets.AWS_REGION }}
  TF_VAR_alert_email:        ${{ secrets.ALERT_EMAIL_ADDRESS }}

jobs:
  monitoring:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-region:            ${{ env.AWS_REGION }}
          aws-access-key-id:     ${{ secrets.MONITORING_AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.MONITORING_AWS_SECRET_ACCESS_KEY }}

      - name: Setup Terraform CLI
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: "1.5.7"

      - name: Prepare cache directory for canaries
        run: mkdir -p monitoring/.terraform/cache

      - name: Terraform Init
        working-directory: monitoring
        run: terraform init -upgrade

      - name: Terraform Plan
        working-directory: monitoring
        run: terraform plan -var-file="terraform.tfvars" -out=tfplan

      - name: Verify cache directory after plan
        run: |
          echo "Contents of monitoring/canaries:"
          ls -R monitoring/canaries

      - name: Upload cache directory artifact
        uses: actions/upload-artifact@v4
        with:
          name: canary-zip-artifacts
          path: monitoring/canaries/*.zip

      - name: Terraform Apply
        working-directory: monitoring
        run: terraform apply -input=false tfplan
